<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            id="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            name="%main.preference.page.name">
      </page>
      <page
            category="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            class="edu.illinois.codingspectator.monitor.ui.UploadingPreferencePage"
            id="edu.illinois.refactorbehavior.monitor.UploadingPreferencePage"
            name="%uploading.preference.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.illinois.codingspectator.monitor.ui.Activator">
      </startup>
   </extension>
   <extension
         point="edu.illinois.codingspectator.monitor.core.submitter">
      <submitterListener
            class="edu.illinois.codingspectator.monitor.ui.updates.Updater"
            id="edu.illinois.codingspectator.monitor.ui.updates.updater"
            name="edu.illinois.codingspectator.monitor.ui.updates.updater">
      </submitterListener>
   </extension>

</plugin>
