<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.illinois.codingspectator.monitor.ui.WorkbenchPreferencePage"
            id="edu.illinois.refactorbehavior.monitor.preferencepage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.illinois.codingspectator.monitor.ui.Activator">
      </startup>
   </extension>
   <extension
         point="edu.illinois.bundleupdater">
      <plugin-to-update
            plugin-id="edu.illinois.codingspectator.feature.group"
            update-site="http://codingspectator.cs.illinois.edu/updates/">
      </plugin-to-update>
   </extension>

</plugin>
