<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            id="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            name="CodingSpectator">
      </page>
      <page
            category="edu.illinois.codingspectator.monitor.ui.MainPreferencePage"
            class="edu.illinois.codingspectator.monitor.ui.UploadingPreferencePage"
            id="edu.illinois.refactorbehavior.monitor.UploadingPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.illinois.codingspectator.monitor.ui.Activator">
      </startup>
   </extension>

</plugin>
