<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="edu.illinois.refactorbehavior.monitor.WorkbenchPreferencePage"
            id="edu.illinois.refactorbehavior.monitor.preferencepage"
            name="%page.name">
      </page>
   </extension>

</plugin>
